

.contactMePageButton,.HomePageButton { 
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;  
  position: absolute;
  margin-top: 100px;
}

.contactMePageButton {
  margin-left: 500px;
}

.HomePageButton {
  justify-content: center;
}
.contactMePageButton:hover,.HomePageButton:hover { 
background-color:   green;
}