
img {
    padding-left: 10px;
    padding-right: 10px;
}

.introduction{
    border-spacing: 0px;
    margin-top: 0px;
    border-top-width: 0px;    
}

.top-div{
    margin-top: 0px;
}

.hline {
    border-style: ridge;  
    width: 100%;
    height: 1px;
    background-color: royalblue;
}

.circularImage {
    border-radius: 100%;
}