
img {
    padding-left: 10px;
    padding-right: 10px;
}
body {
    background-color: #cbe2b0;
}
.Name,.credentials {
    color : #084177;
    padding-left: 10px;
    padding-right:10px
}

.hline {
    border-style: ridge;  
    width: 100%;
    height: 1px;
    background-color: royalblue;
}

.circularImage {
    border-radius: 100%;
}
